#container { 
	width: 700px; 
	height: 400px; 
	background-color: #EEE; 
	display: block;
	position: relative;
}

#copter { 
	width: 50px; 
	height: 50px;
	position: absolute; 
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

#control { background-color: transparent;}